In [22]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from collections import defaultdict

In [2]:
#Use one ./ if running from run_notebooks.py
#Use two ../if running directly from Jupyter Notebooks
#file_beg = '../NHANES-Downloader/data/csv_data/'

file_beg = './NHANES-Downloader/data/csv_data/'

In [3]:
#Import all the files
files1 = glob.glob(file_beg+'1999-2000/*/*.csv')
files2 = glob.glob(file_beg+'2001-2002/*/*.csv')
files3 = glob.glob(file_beg+'2003-2004/*/*.csv')
files4 = glob.glob(file_beg+'2005-2006/*/*.csv')
files5 = glob.glob(file_beg+'2007-2008/*/*.csv')
files6 = glob.glob(file_beg+'2009-2010/*/*.csv')
files7 = glob.glob(file_beg+'2011-2012/*/*.csv')
files8 = glob.glob(file_beg+'2013-2014/*/*.csv')
files9 = glob.glob(file_beg+'2015-2016/*/*.csv')

In [24]:
#Add files into a list
file_list = [files1, files2, files3, files4, files5, 
          files6, files7, files8, files9]

In [25]:
#Add files into a list of sorted and dictionaries
file_list_dict = []
for x in file_list:
    x.sort()
    file_list_dict.append(dict(enumerate(x)))

In [26]:
bmx_indx = [14, 11, 18, 14, 16, 18, 16, 12, 6]

In [27]:
dfs = defaultdict(int)
for i in range(0,len(bmx_indx)):
    dfs[i] = pd.read_csv(file_list_dict[i][bmx_indx[i]])

## Functions: Recategorize values, Count Values, Drop Rows

In [28]:
#Recategorize function
def recategorize(df, name, replace_dict):
    df[name].replace(
    to_replace=replace_dict,
    inplace=True
)
    
#Count values function
def count_vals(df, name):
    df_count = df.groupby(name)['SEQN'].nunique()
    print(df_count,"\n\n","NaN: ", df[name].isnull().sum())
    
#Drop rows that include certain values
def drop_rows(df, name, val_list):
    df.drop(df[df[name].isin(val_list)].index, inplace=True)

## Important Variables

In [29]:
#1999-2016
descr = ['SEQN', 'Weight (kg)', 'Standing Height (cm)', 'Body Mass Index (kg/m**2)', 'Waist Circumference (cm)']
var_names = ['SEQN', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXWAIST']

In [30]:
#To display all columns in Jupyter Notebooks
#pd.set_option('display.max_columns', 500)

## Make a copy of the dataframes

In [31]:
#1999-20016
df0 = dfs[0][var_names].copy() #1999-2000
df1 = dfs[1][var_names].copy() #2001-2002
df2 = dfs[2][var_names].copy() #2003-2004
df3 = dfs[3][var_names].copy() #2005-2006
df4 = dfs[4][var_names].copy() #2007-2008
df5 = dfs[5][var_names].copy() #2009-2010
df6 = dfs[6][var_names].copy() #2011-2012
df7 = dfs[7][var_names].copy() #2013-2014
df8 = dfs[8][var_names].copy() #2015-2016

## Recategorize values

In [12]:
#No recategorizing needed

## Rename columns 1999 - 2016

In [13]:
#No renaming needed

## Append years 1999 - 2016

In [32]:
years = ["1999-2000","2001-2002","2003-2004","2005-2006","2007-2008", 
        "2009-2010","2011-2012","2013-2014","2015-2016"]

In [33]:
frames = [df0, df1, df2, df3, df4, df5, df6, df7, df8]

In [34]:
#Add years as a column
for i, df in enumerate(frames):
    df["Year"] = years[i]

In [35]:
result_1999_2016 = pd.concat(frames, keys = years)

In [36]:
result_1999_2016_cleaned = result_1999_2016.copy()

In [37]:
result_1999_2016_cleaned

                   SEQN  BMXWT  BMXHT  BMXBMI  BMXWAIST       Year
1999-2000 0         1.0   12.5   91.6   14.90      45.7  1999-2000
          1         2.0   75.4  174.0   24.90      98.0  1999-2000
          2         3.0   32.9  136.6   17.63      64.7  1999-2000
          3         4.0   13.3    NaN     NaN       NaN  1999-2000
          4         5.0   92.5  178.3   29.10      99.9  1999-2000
          5         6.0   59.2  162.0   22.56      81.6  1999-2000
          6         7.0   78.0  162.9   29.39      90.7  1999-2000
          7         8.0   40.7  162.0   15.51      64.1  1999-2000
          8         9.0   45.5  156.9   18.48      64.6  1999-2000
          9        10.0  111.8  190.1   30.94     108.0  1999-2000
          10       11.0   65.0  171.9   22.00      76.5  1999-2000
          11       12.0   99.2  180.0   30.62     112.8  1999-2000
          12       13.0   63.6  157.7   25.57       NaN  1999-2000
          13       14.0   75.5  166.2   27.33     100.3  1999-2000
          14       15.0   81.6  174.9   26.68      86.7  1999-2000
          15       16.0   41.5  144.2   19.96      74.4  1999-2000
          16       17.0   11.4   88.6   14.52      44.5  1999-2000
          17       18.0   11.1    NaN     NaN       NaN  1999-2000
          18       19.0   11.5    NaN     NaN       NaN  1999-2000
          19       20.0   59.8  158.9   23.68      81.0  1999-2000
          20       21.0  112.9  168.5   39.76     125.7  1999-2000
          21       22.0   50.9  162.2   19.35      66.9  1999-2000
          22       23.0   75.0  169.1   26.23      92.6  1999-2000
          23       24.0   69.9  164.2   25.93      90.6  1999-2000
          24       25.0  104.5  166.7   37.60     114.5  1999-2000
          25       26.0   85.6  163.1   32.18      96.3  1999-2000
          26       27.0   72.2  161.3   27.75     100.7  1999-2000
          27       28.0   62.7  179.6   19.44      73.4  1999-2000
          28       29.0  113.0  174.9   36.94     130.6  1999-2000
          29       30.0   21.7  126.1   13.65      49.6  1999-2000
...                 ...    ...    ...     ...       ...        ...
2015-2016 9514  93672.0   81.9  147.6   37.60     122.5  2015-2016
          9515  93673.0   26.4  123.0   17.40       NaN  2015-2016
          9516  93674.0   26.1  122.6   17.40      58.9  2015-2016
          9517  93675.0   77.6  179.0   24.20      94.2  2015-2016
          9518  93676.0   92.2  161.7   35.30     110.9  2015-2016
          9519  93677.0   62.2  167.4   22.20      83.3  2015-2016
          9520  93678.0    9.8    NaN     NaN       NaN  2015-2016
          9521  93679.0   57.8  157.0   23.40      90.4  2015-2016
          9522  93680.0   65.1  179.5   20.20      72.0  2015-2016
          9523  93682.0   58.2  166.9   20.90      80.8  2015-2016
          9524  93683.0   25.0  103.3   23.40       NaN  2015-2016
          9525  93684.0  101.2  180.9   30.90      99.0  2015-2016
          9526  93685.0   78.7  156.9   32.00     107.5  2015-2016
          9527  93686.0   59.9  157.2   24.20      84.8  2015-2016
          9528  93687.0   54.4  154.8   22.70      70.5  2015-2016
          9529  93688.0   10.5    NaN     NaN       NaN  2015-2016
          9530  93689.0   64.8  151.9   28.10     101.1  2015-2016
          9531  93690.0   89.5  164.9   32.90     101.0  2015-2016
          9532  93691.0   39.2  136.5   21.00      75.4  2015-2016
          9533  93692.0    9.8    NaN     NaN       NaN  2015-2016
          9534  93693.0   33.0  135.4   18.00      62.4  2015-2016
          9535  93694.0   36.2  124.7   23.30      73.5  2015-2016
          9536  93695.0   59.1  165.8   21.50      95.0  2015-2016
          9537  93696.0  112.1  182.2   33.80     110.2  2015-2016
          9538  93697.0   71.7  152.2   31.00       NaN  2015-2016
          9539  93698.0    NaN    NaN     NaN       NaN  2015-2016
          9540  93699.0   29.0  126.2   18.20      62.9  2015-2016
          9541  93700.0   78.2  173.3   26.00      98.9  2015-2016
          9542  93701.0   28.8  126.0   18.10      62.7  2015-2016
          9543  93702.0   58.3  165.0   21.40      72.5  2015-2016

[88062 rows x 6 columns]

## Count values for each column

In [38]:
col_names = var_names

In [39]:
len(col_names)

5

In [40]:
#BMXWT - Weight (kg)
count_vals(result_1999_2016, col_names[1])

BMXWT
2.40       1
2.60       1
2.70       1
2.80       1
2.90       1
3.10       5
3.20       3
3.30       4
3.40       4
3.50       5
3.60      13
3.64       1
3.70       7
3.80       8
3.90       8
4.00      11
4.10      18
4.20      27
4.30      22
4.40      22
4.50      35
4.60      36
4.70      25
4.74       1
4.80      35
4.84       1
4.90      35
5.00      39
5.10      39
5.20      35
          ..
195.70     1
195.80     1
196.60     1
196.80     1
198.70     1
198.90     1
199.20     1
199.40     1
201.00     1
201.50     1
201.60     1
201.80     1
203.00     1
203.50     1
206.80     1
207.20     1
209.10     1
211.70     1
213.50     1
215.30     1
215.40     1
216.10     1
218.20     1
218.60     1
222.60     1
223.00     1
230.70     1
239.40     1
259.50     1
371.00     1
Name: SEQN, Length: 2046, dtype: int64

 NaN:  1460

In [41]:
#BMXHT - Standing Height (cm)
count_vals(result_1999_2016, col_names[2])

BMXHT
79.0     1
79.1     1
79.7     2
79.8     1
79.9     1
80.1     1
80.6     1
80.7     2
80.9     2
81.0     2
81.2     2
81.3     2
81.5     2
81.7     3
81.8     1
81.9     1
82.0     5
82.1     3
82.2     2
82.3     4
82.4     7
82.5     2
82.6     1
82.7     2
82.8     2
82.9     2
83.0     2
83.1     8
83.2     7
83.3     5
        ..
198.0    2
198.2    3
198.3    2
198.4    2
198.6    1
198.7    1
199.1    1
199.2    3
199.3    1
199.4    3
199.5    1
199.6    1
199.8    1
199.9    1
200.1    2
200.4    1
200.7    2
201.0    1
201.2    1
201.3    1
201.6    1
201.7    1
202.0    1
202.6    1
202.7    3
203.2    1
203.8    1
204.1    1
204.4    1
204.5    1
Name: SEQN, Length: 1216, dtype: int64

 NaN:  7839

In [42]:
#BMXBMI - Body Mass Index (kg/m**2)
count_vals(result_1999_2016, col_names[3])

BMXBMI
7.99      1
11.49     1
11.50     1
11.52     1
11.74     1
11.98     1
12.04     1
12.07     1
12.10     2
12.12     1
12.15     1
12.16     1
12.20     1
12.24     1
12.27     1
12.30     3
12.32     1
12.35     1
12.40     2
12.41     1
12.44     1
12.46     2
12.50     3
12.54     1
12.58     1
12.59     1
12.60     5
12.61     2
12.68     1
12.70     8
         ..
66.44     1
66.96     1
67.27     1
67.30     2
67.34     1
67.50     1
67.71     1
67.83     1
67.90     1
68.60     1
68.63     1
68.70     1
69.00     1
70.10     1
71.30     1
71.50     1
71.72     1
71.83     1
72.28     1
72.56     1
73.43     1
74.10     1
76.07     1
77.50     1
80.60     1
81.25     1
82.10     1
82.90     1
84.87     1
130.21    1
Name: SEQN, Length: 4018, dtype: int64

 NaN:  8268

In [43]:
#BMXWAIST - Waist Circumference (cm)
count_vals(result_1999_2016, col_names[4])

BMXWAIST
32.0     1
37.8     1
38.2     1
38.7     2
38.8     1
39.6     1
39.7     1
39.8     1
40.0     3
40.2     4
40.3     1
40.5     2
40.6     2
40.7     1
40.8     3
41.0     5
41.1     3
41.2     3
41.3     4
41.4     1
41.5     2
41.6     3
41.7     4
41.8     2
41.9     5
42.0     8
42.1     1
42.2     6
42.3     4
42.4     7
        ..
163.9    1
164.0    1
164.2    1
165.0    2
165.2    1
165.5    1
165.6    1
165.8    1
166.0    1
166.4    1
167.0    1
167.2    1
168.4    1
168.7    1
169.6    2
169.7    1
170.3    1
170.5    1
170.7    1
171.6    1
172.0    1
172.2    1
172.5    1
173.4    1
175.0    1
176.0    1
176.7    1
177.9    1
178.2    1
179.0    1
Name: SEQN, Length: 1229, dtype: int64

 NaN:  10964

In [44]:
len(result_1999_2016)

88062

## Remove missing values:

In [45]:
drop_rows(result_1999_2016_cleaned, col_names[1], [np.nan])

In [46]:
drop_rows(result_1999_2016_cleaned, col_names[2], [np.nan])

In [47]:
drop_rows(result_1999_2016_cleaned, col_names[3], [np.nan])

In [48]:
drop_rows(result_1999_2016_cleaned, col_names[4], [np.nan])

## See if missing values have been correctly removed:

In [49]:
#BMXWT - Weight (kg)
count_vals(result_1999_2016_cleaned, col_names[1])

BMXWT
8.90       1
9.10       1
9.40       1
9.60       1
9.70       2
9.80       4
9.90       4
10.00      2
10.10      3
10.20      4
10.30      2
10.40      4
10.50     11
10.60      6
10.70     12
10.80      8
10.90     11
11.00     18
11.10     23
11.20     27
11.30     22
11.40     23
11.50     29
11.60     38
11.70     29
11.80     37
11.90     25
12.00     50
12.04      1
12.10     39
          ..
186.90     2
187.50     1
187.70     1
188.30     1
188.90     1
190.20     1
191.10     1
191.70     1
192.20     1
193.00     1
193.30     1
193.70     1
195.40     1
195.80     1
196.60     1
198.70     1
198.90     1
199.20     1
199.40     1
201.50     1
203.00     1
203.50     1
207.20     1
211.70     1
213.50     1
215.30     1
216.10     1
218.20     1
218.60     1
239.40     1
Name: SEQN, Length: 1903, dtype: int64

 NaN:  0

In [50]:
#BMXHT - Standing Height (cm)
count_vals(result_1999_2016_cleaned, col_names[2])

BMXHT
79.0     1
79.7     1
79.8     1
79.9     1
80.1     1
80.6     1
80.7     1
80.9     2
81.0     1
81.2     2
81.3     2
81.5     2
81.7     3
81.8     1
81.9     1
82.0     5
82.1     2
82.2     2
82.3     4
82.4     5
82.5     2
82.6     1
82.7     2
82.8     2
82.9     2
83.0     1
83.1     7
83.2     7
83.3     5
83.4     3
        ..
198.0    2
198.2    2
198.3    2
198.4    2
198.6    1
198.7    1
199.1    1
199.2    3
199.3    1
199.4    3
199.5    1
199.6    1
199.8    1
199.9    1
200.1    2
200.4    1
200.7    2
201.0    1
201.2    1
201.3    1
201.6    1
201.7    1
202.0    1
202.6    1
202.7    3
203.2    1
203.8    1
204.1    1
204.4    1
204.5    1
Name: SEQN, Length: 1215, dtype: int64

 NaN:  0

In [42]:
#BMXBMI - Body Mass Index (kg/m**2)
count_vals(result_1999_2016, col_names[3])

BMXBMI
7.99      1
11.49     1
11.50     1
11.52     1
11.74     1
11.98     1
12.04     1
12.07     1
12.10     2
12.12     1
12.15     1
12.16     1
12.20     1
12.24     1
12.27     1
12.30     3
12.32     1
12.35     1
12.40     2
12.41     1
12.44     1
12.46     2
12.50     3
12.54     1
12.58     1
12.59     1
12.60     5
12.61     2
12.68     1
12.70     8
         ..
66.44     1
66.96     1
67.27     1
67.30     2
67.34     1
67.50     1
67.71     1
67.83     1
67.90     1
68.60     1
68.63     1
68.70     1
69.00     1
70.10     1
71.30     1
71.50     1
71.72     1
71.83     1
72.28     1
72.56     1
73.43     1
74.10     1
76.07     1
77.50     1
80.60     1
81.25     1
82.10     1
82.90     1
84.87     1
130.21    1
Name: SEQN, Length: 4018, dtype: int64

 NaN:  8268

In [51]:
#BMXWAIST - Waist Circumference (cm)
count_vals(result_1999_2016_cleaned, col_names[4])

BMXWAIST
32.0      1
37.8      1
38.2      1
38.7      1
38.8      1
39.6      1
39.7      1
39.8      1
40.2      4
40.3      1
40.5      2
40.6      1
40.7      1
40.8      3
41.0      5
41.1      2
41.2      3
41.3      2
41.4      1
41.5      2
41.6      3
41.7      4
41.8      2
41.9      5
42.0      6
42.1      1
42.2      5
42.3      4
42.4      7
42.5     11
         ..
163.7     1
164.0     1
164.2     1
165.0     2
165.2     1
165.5     1
165.6     1
165.8     1
166.0     1
166.4     1
167.0     1
167.2     1
168.4     1
168.7     1
169.6     2
169.7     1
170.3     1
170.5     1
170.7     1
171.6     1
172.0     1
172.2     1
172.5     1
173.4     1
175.0     1
176.0     1
176.7     1
177.9     1
178.2     1
179.0     1
Name: SEQN, Length: 1227, dtype: int64

 NaN:  0

In [52]:
before = len(result_1999_2016)
before

88062

In [53]:
after = len(result_1999_2016_cleaned)
after

76742

In [54]:
(before-after)/after

0.14750723202418492

## MongoDB Insertion

In [55]:
#Import MongoClient
from pymongo import MongoClient

#Create a MongoClient to run the MongoDB instance
client = MongoClient("localhost", 27017)

In [56]:
#Connect to existing database
db = client.NHANES
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'NHANES')

In [57]:
db.list_collection_names()

['smqfam',
 'smq',
 'bpx',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'rdq',
 'diq']

In [58]:
#Creating a collection
bmx = db.bmx

In [59]:
#If collections exist, then drop
if 'bmx' in db.list_collection_names():
    bmx.drop()
    db.list_collection_names()

## Create new collection to input into database

In [60]:
result_1999_2016_cleaned[:3]

             SEQN  BMXWT  BMXHT  BMXBMI  BMXWAIST       Year
1999-2000 0   1.0   12.5   91.6   14.90      45.7  1999-2000
          1   2.0   75.4  174.0   24.90      98.0  1999-2000
          2   3.0   32.9  136.6   17.63      64.7  1999-2000

In [61]:
#Set SEQN as _id (Primary Key)
result_1999_2016_cleaned.rename(columns= {'SEQN':'_id'}, inplace=True)

In [62]:
#Dataframe to dictionary
bmx_dict = result_1999_2016_cleaned.to_dict(orient='records')

In [63]:
bmx_dict[0]

{'BMXBMI': 14.9,
 'BMXHT': 91.6,
 'BMXWAIST': 45.7,
 'BMXWT': 12.5,
 'Year': '1999-2000',
 '_id': 1.0}

In [64]:
#Insert collection
bmx.insert_many(bmx_dict)

In [65]:
db.list_collection_names()

['smqfam',
 'smq',
 'bpx',
 'mcq',
 'hiq',
 'demo',
 'bpq',
 'huq',
 'paq',
 'whq',
 'alq',
 'rdq',
 'diq',
 'bmx']